<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.galaxyoyo.gatherplaying"
          android:versionCode="1"
          android:versionName="1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.android.com/apk/res/android">
    <supports-screens android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="23"/>
    <application android:label="Gather Playing"
                 android:name="android.support.multidex.MultiDexApplication"
                 android:icon="@mipmap/ic_launcher">
        <activity android:name="javafxports.android.FXActivity"
                  android:label="Gather Playing"
                  android:configChanges="orientation|screenSize"
                  android:screenOrientation="userLandscape">
            <meta-data android:name="main.class"
                       android:value="fr.galaxyoyo.gatherplaying.Main"/>
            <meta-data android:name="debug.port"
                       android:value="0"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
